/*En este archivo cambiamos todos los estilo, no lo cambies en otro css*/

.youtube {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}

.youtube-title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.youtube-icon-deco {
    width: 180px;
    height: 180px;
}

.youtube-title {
    font-size: 1.75em;
    color: rgba(255, 0, 0, 0.5);
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
    font-weight: bold;
}

.youtube-text {
    font-size: 28px;
    color: #1a1a1a;
    margin: 30px 0;
    text-align: center;
}

/* 📌 Imagen de botón con animación */
.youtube-link {
    display: inline-block;
    margin-top: 10px;
}

.youtube-button {
    font-size: 20px;
    font-weight: bold;
    padding: 52px 16px;
    border-radius: 6em;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
}

/* Tablets y pantallas medianas */
@media (max-width: 1024px) {
    .youtube-button {
        font-size: 18px;
        padding: 40px 14px;
        max-width: 250px;
    }
}

/* Móviles grandes */
@media (max-width: 768px) {
    .youtube-button {
        font-size: 16px;
        padding: 30px 12px;
        border-radius: 4em;
        max-width: 200px;
    }
}

/* Móviles pequeños */
@media (max-width: 480px) {
    .youtube-button {
        font-size: 14px;
        padding: 20px 10px;
        border-radius: 3em;
        max-width: 150px;
    }
}
/* Efecto hover */
.youtube-button:hover {
    transform: scale(1.1); /* Hace el botón un poco más grande */
    background: rgba(58, 152, 243, 0.75);
}

/*featured*/
.feature-grid {
        display: flex;
        gap: 20px;
        justify-content: center;
        flex-wrap: wrap;
    }
    .feature-box {
        width: 300px;
        background-color: white;
        padding: 15px;
        border-radius: 15px;
        box-shadow: 0 4px 8px rgba(0,0,0,0.6);
        text-align: center;
        transition: transform 0.3s ease-in-out;
    }
    .feature-box:hover {
        transform: scale(1.05);
    }
    .feature-box img {
        width: 100%;
        border-radius: 15px;
        cursor: pointer;
        transition: transform 0.3s ease;
    }
    .feature-box img:hover {
        transform: scale(1.05);
    }

.imagen-movible1 {
   transform: translateY(49px);
    display: block;
    margin: auto;
    max-width: 20%; /* Evita que se salga del contenedor */
    height: auto;
}

.imagen-movible {
   transform: translateY(-27px);
    display: block;
    margin: auto;
    max-width: 100%; /* Evita que se salga del contenedor */
    height: auto;
}

/* Permite modificar la posición en pantallas pequeñas */
@media screen and (max-width: 768px) {
    .imagen-movible {
        width: 100px; /* Ajusta el tamaño en móviles */
        top: 20px; 
        left: 20px;
    }
}